if SHIELD_KOELERIA_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "koeleria"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KOELERIA_LEFT || SHIELD_KOELERIA_RIGHT

config ZMK_SPLIT
    default y

endif
